*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/.idea/AndroidProjectSystem.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/gradle.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.kotlin/errors/errors-1756911771323.log
/.kotlin/errors/errors-1756911810803.log
/.kotlin/errors/errors-1756911832097.log
/.kotlin/errors/errors-1756911836336.log
/.kotlin/errors/errors-1756911902972.log
/.kotlin/errors/errors-1756911909290.log
/.kotlin/errors/errors-1756911910325.log
/.kotlin/errors/errors-1756911911297.log
/.kotlin/errors/errors-1756911912136.log
/.kotlin/errors/errors-1756911913072.log
/.kotlin/errors/errors-1756911914150.log
/.kotlin/errors/errors-1756911915047.log
/.kotlin/errors/errors-1756911930520.log
/.kotlin/errors/errors-1756911950018.log
/.kotlin/errors/errors-1756912054434.log
/.kotlin/errors/errors-1756912064262.log
/.kotlin/errors/errors-1756912082882.log
/.kotlin/errors/errors-1756912115650.log
/.kotlin/errors/errors-1756912157619.log
/.kotlin/errors/errors-1756912858690.log
/app/release/baselineProfiles/0/app-release.dm
/app/release/baselineProfiles/1/app-release.dm
